ALTER TABLE POSTS
ALTER COLUMN Image NVARCHAR(MAX) NULL;

ALTER TABLE ACCOUNTS
ALTER COLUMN AVATAR NVARCHAR(MAX) NULL;

ALTER TABLE COMMENTS
ALTER COLUMN Image NVARCHAR(MAX) NULL;

ALTER TABLE SERVICECOMBO
ALTER COLUMN IMAGE NVARCHAR(MAX) NULL;