USE [master]
GO
/****** Object:  Database [ESCE]    Script Date: 12/1/2025 1:26:52 PM ******/
CREATE DATABASE [ESCE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ESCE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ESCE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ESCE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ESCE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ESCE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ESCE]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12/1/2025 1:26:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACCOUNTS]    Script Date: 12/1/2025 1:26:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
	[EMAIL] [nvarchar](100) NOT NULL,
	[PASSWORD_HASH] [varchar](500) NOT NULL,
	[PASSWORD] [varchar](32) NULL,
	[AVATAR] [nvarchar](max) NULL,
	[PHONE] [varchar](10) NULL,
	[DOB] [date] NULL,
	[GENDER] [nvarchar](10) NULL,
	[ADDRESS] [nvarchar](255) NULL,
	[IS_ACTIVE] [bit] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[UPDATED_AT] [datetime] NULL,
	[ROLE_ID] [int] NOT NULL,
	[IsBanned] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AGENCIE_CERTIFICATES]    Script Date: 12/1/2025 1:26:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AGENCIE_CERTIFICATES](
	[AgencyId] [int] IDENTITY(1,1) NOT NULL,
	[AccountId] [int] NOT NULL,
	[COMPANYNAME] [nvarchar](255) NOT NULL,
	[LicenseFile] [nvarchar](500) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Website] [nvarchar](255) NULL,
	[Status] [nvarchar](50) NULL,
	[RejectComment] [nvarchar](max) NULL,
	[ReviewComments] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AgencyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOKING_COUPONS]    Script Date: 12/1/2025 1:26:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKING_COUPONS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BOOKING_ID] [int] NOT NULL,
	[COUPON_ID] [int] NOT NULL,
	[APPLIED_AT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_BookingPromotion] UNIQUE NONCLUSTERED 
(
	[BOOKING_ID] ASC,
	[COUPON_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOKINGS]    Script Date: 12/1/2025 1:26:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKINGS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NOT NULL,
	[COMBO_ID] [int] NOT NULL,
	[BOOKING_DATE] [datetime] NULL,
	[START_DATE] [date] NOT NULL,
	[END_DATE] [date] NOT NULL,
	[QUANTITY] [int] NOT NULL,
	[TOTAL_AMOUNT] [decimal](18, 2) NOT NULL,
	[NOTES] [nvarchar](500) NULL,
	[STATUS] [nvarchar](50) NULL,
	[ServiceId] [int] NULL,
	[BookingNumber] [nvarchar](50) NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[SERVICE_ID] [int] NULL,
	[UNIT_PRICE] [decimal](18, 2) NOT NULL,
	[BOOKING_NUMBER] [nvarchar](50) NULL,
	[ITEM_TYPE] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMMENTREACTIONS]    Script Date: 12/1/2025 1:26:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMMENTREACTIONS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[CommentId] [int] NOT NULL,
	[ReactionTypeId] [tinyint] NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMMENTS]    Script Date: 12/1/2025 1:26:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMMENTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[POST_ID] [int] NOT NULL,
	[AUTHOR_ID] [int] NOT NULL,
	[PARENT_COMMENT_ID] [int] NULL,
	[CONTENT] [nvarchar](max) NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[IMAGE] [nvarchar](max) NULL,
	[UpdatedAt] [datetime] NULL,
	[ReactionsCount] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COUPONS]    Script Date: 12/1/2025 1:26:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COUPONS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CODE] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](255) NULL,
	[DISCOUNT_PERCENT] [decimal](5, 2) NULL,
	[DISCOUNT_AMOUNT] [decimal](18, 2) NULL,
	[USAGE_LIMIT] [int] NOT NULL,
	[USAGE_COUNT] [int] NULL,
	[HOST_ID] [int] NOT NULL,
	[SERVICECOMBO_ID] [int] NOT NULL,
	[IS_ACTIVE] [bit] NULL,
	[CREATED_AT] [datetime] NULL,
	[UPDATED_AT] [datetime] NULL,
	[EXPIRY_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOST_CERTIFICATES]    Script Date: 12/1/2025 1:26:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOST_CERTIFICATES](
	[CertificateId] [int] IDENTITY(1,1) NOT NULL,
	[HostId] [int] NOT NULL,
	[BusinessLicenseFile] [nvarchar](500) NOT NULL,
	[BusinessName] [nvarchar](255) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Status] [nvarchar](50) NULL,
	[RejectComment] [nvarchar](max) NULL,
	[ReviewComments] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CertificateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MESSAGES]    Script Date: 12/1/2025 1:26:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MESSAGES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SENDER_ID] [int] NOT NULL,
	[RECEIVER_ID] [int] NOT NULL,
	[CONTENT] [nvarchar](2000) NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[IS_READ] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NEWS]    Script Date: 12/1/2025 1:26:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NEWS](
	[NewsId] [int] IDENTITY(1,1) NOT NULL,
	[AccountId] [int] NOT NULL,
	[NewsTitle] [nvarchar](255) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[Image] [nvarchar](max) NULL,
	[SocialMediaLink] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[NewsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NOTIFICATIONS]    Script Date: 12/1/2025 1:26:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOTIFICATIONS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NOT NULL,
	[MESSAGE] [nvarchar](500) NULL,
	[IS_READ] [bit] NULL,
	[CREATED_AT] [datetime] NULL,
	[Title] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OTP]    Script Date: 12/1/2025 1:26:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OTP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NULL,
	[CODE] [nvarchar](10) NOT NULL,
	[EMAIL] [nvarchar](50) NULL,
	[EXPIRATION_TIME] [datetime] NOT NULL,
	[IS_VERIFIED] [bit] NULL,
	[CREATED_AT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAYMENTS]    Script Date: 12/1/2025 1:26:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYMENTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BOOKING_ID] [int] NOT NULL,
	[AMOUNT] [decimal](18, 2) NOT NULL,
	[PAYMENT_DATE] [datetime] NULL,
	[METHOD] [nvarchar](50) NULL,
	[STATUS] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POSTREACTIONS]    Script Date: 12/1/2025 1:26:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POSTREACTIONS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[PostId] [int] NOT NULL,
	[ReactionTypeId] [tinyint] NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[PostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POSTS]    Script Date: 12/1/2025 1:26:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POSTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TITLE] [nvarchar](255) NOT NULL,
	[CONTENT] [nvarchar](max) NOT NULL,
	[AUTHOR_ID] [int] NOT NULL,
	[IMAGE] [nvarchar](max) NULL,
	[CREATED_AT] [datetime] NULL,
	[UPDATED_AT] [datetime] NULL,
	[Status] [nvarchar](50) NOT NULL,
	[RejectComment] [nvarchar](max) NULL,
	[ReviewComments] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
	[CommentsCount] [int] NOT NULL,
	[ReactionsCount] [int] NOT NULL,
	[SavesCount] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POSTSAVES]    Script Date: 12/1/2025 1:26:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POSTSAVES](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PostId] [int] NOT NULL,
	[AccountId] [int] NOT NULL,
	[SavedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_PostSave_UserPost] UNIQUE NONCLUSTERED 
(
	[AccountId] ASC,
	[PostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REACTION_TYPES]    Script Date: 12/1/2025 1:26:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REACTION_TYPES](
	[ID] [tinyint] NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REACTIONS]    Script Date: 12/1/2025 1:26:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REACTIONS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NOT NULL,
	[TARGET_TYPE] [nvarchar](20) NOT NULL,
	[TARGET_ID] [int] NOT NULL,
	[REACTION_TYPE] [nvarchar](20) NOT NULL,
	[CREATED_AT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQUEST_SUPPORTS]    Script Date: 12/1/2025 1:26:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQUEST_SUPPORTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NOT NULL,
	[COMBO_ID] [int] NULL,
	[SUPPORT_TYPE] [nvarchar](255) NULL,
	[CONTENT] [nvarchar](1000) NOT NULL,
	[IMAGE] [varchar](255) NULL,
	[STATUS] [nvarchar](50) NULL,
	[CREATED_AT] [datetime] NULL,
	[UPDATED_AT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REVIEWS]    Script Date: 12/1/2025 1:26:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REVIEWS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[COMBO_ID] [int] NOT NULL,
	[AUTHOR_ID] [int] NOT NULL,
	[PARENT_REVIEW_ID] [int] NULL,
	[RATING] [int] NULL,
	[CONTENT] [nvarchar](max) NOT NULL,
	[CREATED_AT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLES]    Script Date: 12/1/2025 1:26:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLES](
	[NAME] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](255) NULL,
	[ID] [int] NOT NULL,
 CONSTRAINT [PK_ROLES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERVICE]    Script Date: 12/1/2025 1:26:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](255) NOT NULL,
	[DESCRIPTION] [nvarchar](255) NULL,
	[PRICE] [decimal](18, 2) NOT NULL,
	[HOST_ID] [int] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[UPDATED_AT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERVICECOMBO]    Script Date: 12/1/2025 1:26:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICECOMBO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](255) NOT NULL,
	[ADDRESS] [nvarchar](255) NOT NULL,
	[DESCRIPTION] [nvarchar](1000) NULL,
	[PRICE] [decimal](18, 2) NOT NULL,
	[AVAILABLE_SLOTS] [int] NOT NULL,
	[IMAGE] [nvarchar](max) NULL,
	[STATUS] [nvarchar](50) NULL,
	[CANCELLATION_POLICY] [nvarchar](1000) NULL,
	[CREATED_AT] [datetime] NULL,
	[UPDATED_AT] [datetime] NULL,
	[HOST_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERVICECOMBO_DETAIL]    Script Date: 12/1/2025 1:26:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICECOMBO_DETAIL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SERVICECOMBO_ID] [int] NOT NULL,
	[SERVICE_ID] [int] NOT NULL,
	[QUANTITY] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUPPORT_RESPONSES]    Script Date: 12/1/2025 1:26:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUPPORT_RESPONSES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SUPPORT_ID] [int] NOT NULL,
	[RESPONDER_ID] [int] NOT NULL,
	[CONTENT] [nvarchar](1000) NOT NULL,
	[IMAGE] [nvarchar](255) NULL,
	[CREATED_AT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYSTEM_LOGS]    Script Date: 12/1/2025 1:26:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYSTEM_LOGS](
	[LOG_ID] [int] IDENTITY(1,1) NOT NULL,
	[LOG_LEVEL] [nvarchar](50) NULL,
	[MESSAGE] [nvarchar](max) NULL,
	[STACK_TRACE] [nvarchar](max) NULL,
	[CREATED_AT] [datetime] NULL,
	[USER_ID] [int] NULL,
	[MODULE] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[LOG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_CommentReactions_CommentID]    Script Date: 12/1/2025 1:26:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_CommentReactions_CommentID] ON [dbo].[COMMENTREACTIONS]
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Comments_AuthorID]    Script Date: 12/1/2025 1:26:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_Comments_AuthorID] ON [dbo].[COMMENTS]
(
	[AUTHOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Comments_PostID]    Script Date: 12/1/2025 1:26:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_Comments_PostID] ON [dbo].[COMMENTS]
(
	[POST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PostReactions_PostID]    Script Date: 12/1/2025 1:26:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_PostReactions_PostID] ON [dbo].[POSTREACTIONS]
(
	[PostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Posts_AuthorID]    Script Date: 12/1/2025 1:26:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_Posts_AuthorID] ON [dbo].[POSTS]
(
	[AUTHOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ACCOUNTS] ADD  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[ACCOUNTS] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[ACCOUNTS] ADD  DEFAULT (getdate()) FOR [UPDATED_AT]
GO
ALTER TABLE [dbo].[ACCOUNTS] ADD  DEFAULT ((0)) FOR [IsBanned]
GO
ALTER TABLE [dbo].[AGENCIE_CERTIFICATES] ADD  DEFAULT ('pending') FOR [Status]
GO
ALTER TABLE [dbo].[AGENCIE_CERTIFICATES] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AGENCIE_CERTIFICATES] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[BOOKING_COUPONS] ADD  DEFAULT (getdate()) FOR [APPLIED_AT]
GO
ALTER TABLE [dbo].[BOOKINGS] ADD  DEFAULT (getdate()) FOR [BOOKING_DATE]
GO
ALTER TABLE [dbo].[BOOKINGS] ADD  DEFAULT ('pending') FOR [STATUS]
GO
ALTER TABLE [dbo].[BOOKINGS] ADD  DEFAULT ((0)) FOR [UnitPrice]
GO
ALTER TABLE [dbo].[BOOKINGS] ADD  DEFAULT ((0)) FOR [UNIT_PRICE]
GO
ALTER TABLE [dbo].[COMMENTREACTIONS] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[COMMENTS] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[COMMENTS] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[COMMENTS] ADD  DEFAULT ((0)) FOR [ReactionsCount]
GO
ALTER TABLE [dbo].[COMMENTS] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[COUPONS] ADD  DEFAULT ((0)) FOR [USAGE_COUNT]
GO
ALTER TABLE [dbo].[COUPONS] ADD  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[COUPONS] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[COUPONS] ADD  DEFAULT (getdate()) FOR [UPDATED_AT]
GO
ALTER TABLE [dbo].[HOST_CERTIFICATES] ADD  DEFAULT ('pending') FOR [Status]
GO
ALTER TABLE [dbo].[HOST_CERTIFICATES] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[HOST_CERTIFICATES] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[MESSAGES] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[MESSAGES] ADD  DEFAULT ((0)) FOR [IS_READ]
GO
ALTER TABLE [dbo].[NEWS] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[NOTIFICATIONS] ADD  DEFAULT ((0)) FOR [IS_READ]
GO
ALTER TABLE [dbo].[NOTIFICATIONS] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[OTP] ADD  DEFAULT ((0)) FOR [IS_VERIFIED]
GO
ALTER TABLE [dbo].[OTP] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[PAYMENTS] ADD  DEFAULT (getdate()) FOR [PAYMENT_DATE]
GO
ALTER TABLE [dbo].[PAYMENTS] ADD  DEFAULT ('pending') FOR [STATUS]
GO
ALTER TABLE [dbo].[POSTREACTIONS] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[POSTS] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[POSTS] ADD  DEFAULT (getdate()) FOR [UPDATED_AT]
GO
ALTER TABLE [dbo].[POSTS] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[POSTS] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[POSTS] ADD  DEFAULT ((0)) FOR [CommentsCount]
GO
ALTER TABLE [dbo].[POSTS] ADD  DEFAULT ((0)) FOR [ReactionsCount]
GO
ALTER TABLE [dbo].[POSTS] ADD  DEFAULT ((0)) FOR [SavesCount]
GO
ALTER TABLE [dbo].[POSTSAVES] ADD  DEFAULT (getdate()) FOR [SavedAt]
GO
ALTER TABLE [dbo].[REACTIONS] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[REQUEST_SUPPORTS] ADD  DEFAULT ('Pending') FOR [STATUS]
GO
ALTER TABLE [dbo].[REQUEST_SUPPORTS] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[REQUEST_SUPPORTS] ADD  DEFAULT (getdate()) FOR [UPDATED_AT]
GO
ALTER TABLE [dbo].[REVIEWS] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[SERVICE] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[SERVICE] ADD  DEFAULT (getdate()) FOR [UPDATED_AT]
GO
ALTER TABLE [dbo].[SERVICECOMBO] ADD  DEFAULT ('open') FOR [STATUS]
GO
ALTER TABLE [dbo].[SERVICECOMBO] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[SERVICECOMBO] ADD  DEFAULT (getdate()) FOR [UPDATED_AT]
GO
ALTER TABLE [dbo].[SERVICECOMBO_DETAIL] ADD  DEFAULT ((1)) FOR [QUANTITY]
GO
ALTER TABLE [dbo].[SUPPORT_RESPONSES] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[SYSTEM_LOGS] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[ACCOUNTS]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNTS_ROLES] FOREIGN KEY([ROLE_ID])
REFERENCES [dbo].[ROLES] ([ID])
GO
ALTER TABLE [dbo].[ACCOUNTS] CHECK CONSTRAINT [FK_ACCOUNTS_ROLES]
GO
ALTER TABLE [dbo].[AGENCIE_CERTIFICATES]  WITH CHECK ADD FOREIGN KEY([AccountId])
REFERENCES [dbo].[ACCOUNTS] ([ID])
GO
ALTER TABLE [dbo].[AGENCIE_CERTIFICATES]  WITH CHECK ADD FOREIGN KEY([AccountId])
REFERENCES [dbo].[ACCOUNTS] ([ID])
GO
ALTER TABLE [dbo].[BOOKING_COUPONS]  WITH CHECK ADD FOREIGN KEY([BOOKING_ID])
REFERENCES [dbo].[BOOKINGS] ([ID])
GO
ALTER TABLE [dbo].[BOOKING_COUPONS]  WITH CHECK ADD FOREIGN KEY([BOOKING_ID])
REFERENCES [dbo].[BOOKINGS] ([ID])
GO
ALTER TABLE [dbo].[BOOKING_COUPONS]  WITH CHECK ADD FOREIGN KEY([COUPON_ID])
REFERENCES [dbo].[COUPONS] ([ID])
GO
ALTER TABLE [dbo].[BOOKING_COUPONS]  WITH CHECK ADD FOREIGN KEY([COUPON_ID])
REFERENCES [dbo].[COUPONS] ([ID])
GO
ALTER TABLE [dbo].[BOOKINGS]  WITH CHECK ADD FOREIGN KEY([COMBO_ID])
REFERENCES [dbo].[SERVICECOMBO] ([ID])
GO
ALTER TABLE [dbo].[BOOKINGS]  WITH CHECK ADD FOREIGN KEY([COMBO_ID])
REFERENCES [dbo].[SERVICECOMBO] ([ID])
GO
ALTER TABLE [dbo].[BOOKINGS]  WITH CHECK ADD  CONSTRAINT [FK__BOOKINGS__SERVIC__59FA5E81] FOREIGN KEY([SERVICE_ID])
REFERENCES [dbo].[SERVICE] ([ID])
GO
ALTER TABLE [dbo].[BOOKINGS] CHECK CONSTRAINT [FK__BOOKINGS__SERVIC__59FA5E81]
GO
ALTER TABLE [dbo].[BOOKINGS]  WITH CHECK ADD FOREIGN KEY([USER_ID])
REFERENCES [dbo].[ACCOUNTS] ([ID])
GO
ALTER TABLE [dbo].[BOOKINGS]  WITH CHECK ADD FOREIGN KEY([USER_ID])
REFERENCES [dbo].[ACCOUNTS] ([ID])
GO
ALTER TABLE [dbo].[COMMENTREACTIONS]  WITH CHECK ADD FOREIGN KEY([CommentId])
REFERENCES [dbo].[COMMENTS] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[COMMENTREACTIONS]  WITH CHECK ADD FOREIGN KEY([ReactionTypeId])
REFERENCES [dbo].[REACTION_TYPES] ([ID])
GO
ALTER TABLE [dbo].[COMMENTREACTIONS]  WITH CHECK ADD FOREIGN KEY([ReactionTypeId])
REFERENCES [dbo].[REACTION_TYPES] ([ID])
GO
ALTER TABLE [dbo].[COMMENTREACTIONS]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[ACCOUNTS] ([ID])
GO
ALTER TABLE [dbo].[COMMENTREACTIONS]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[ACCOUNTS] ([ID])
GO
ALTER TABLE [dbo].[COMMENTS]  WITH CHECK ADD FOREIGN KEY([AUTHOR_ID])
REFERENCES [dbo].[ACCOUNTS] ([ID])
GO
ALTER TABLE [dbo].[COMMENTS]  WITH CHECK ADD FOREIGN KEY([AUTHOR_ID])
REFERENCES [dbo].[ACCOUNTS] ([ID])
GO
ALTER TABLE [dbo].[COMMENTS]  WITH CHECK ADD FOREIGN KEY([POST_ID])
REFERENCES [dbo].[POSTS] ([ID])
GO
ALTER TABLE [dbo].[COMMENTS]  WITH CHECK ADD FOREIGN KEY([POST_ID])
REFERENCES [dbo].[POSTS] ([ID])
GO
ALTER TABLE [dbo].[COUPONS]  WITH CHECK ADD FOREIGN KEY([HOST_ID])
REFERENCES [dbo].[ACCOUNTS] ([ID])
GO
ALTER TABLE [dbo].[COUPONS]  WITH CHECK ADD FOREIGN KEY([HOST_ID])
REFERENCES [dbo].[ACCOUNTS] ([ID])
GO
ALTER TABLE [dbo].[COUPONS]  WITH CHECK ADD FOREIGN KEY([SERVICECOMBO_ID])
REFERENCES [dbo].[SERVICECOMBO] ([ID])
GO
ALTER TABLE [dbo].[COUPONS]  WITH CHECK ADD FOREIGN KEY([SERVICECOMBO_ID])
REFERENCES [dbo].[SERVICECOMBO] ([ID])
GO
ALTER TABLE [dbo].[HOST_CERTIFICATES]  WITH CHECK ADD FOREIGN KEY([HostId])
REFERENCES [dbo].[ACCOUNTS] ([ID])
GO
ALTER TABLE [dbo].[HOST_CERTIFICATES]  WITH CHECK ADD FOREIGN KEY([HostId])
REFERENCES [dbo].[ACCOUNTS] ([ID])
GO
ALTER TABLE [dbo].[MESSAGES]  WITH CHECK ADD FOREIGN KEY([SENDER_ID])
REFERENCES [dbo].[ACCOUNTS] ([ID])
GO
ALTER TABLE [dbo].[MESSAGES]  WITH CHECK ADD FOREIGN KEY([SENDER_ID])
REFERENCES [dbo].[ACCOUNTS] ([ID])
GO
ALTER TABLE [dbo].[NEWS]  WITH CHECK ADD FOREIGN KEY([AccountId])
REFERENCES [dbo].[ACCOUNTS] ([ID])
GO
ALTER TABLE [dbo].[NEWS]  WITH CHECK ADD FOREIGN KEY([AccountId])
REFERENCES [dbo].[ACCOUNTS] ([ID])
GO
ALTER TABLE [dbo].[NOTIFICATIONS]  WITH CHECK ADD FOREIGN KEY([USER_ID])
REFERENCES [dbo].[ACCOUNTS] ([ID])
GO
ALTER TABLE [dbo].[NOTIFICATIONS]  WITH CHECK ADD FOREIGN KEY([USER_ID])
REFERENCES [dbo].[ACCOUNTS] ([ID])
GO
ALTER TABLE [dbo].[OTP]  WITH CHECK ADD FOREIGN KEY([USER_ID])
REFERENCES [dbo].[ACCOUNTS] ([ID])
GO
ALTER TABLE [dbo].[OTP]  WITH CHECK ADD FOREIGN KEY([USER_ID])
REFERENCES [dbo].[ACCOUNTS] ([ID])
GO
ALTER TABLE [dbo].[PAYMENTS]  WITH CHECK ADD FOREIGN KEY([BOOKING_ID])
REFERENCES [dbo].[BOOKINGS] ([ID])
GO
ALTER TABLE [dbo].[PAYMENTS]  WITH CHECK ADD FOREIGN KEY([BOOKING_ID])
REFERENCES [dbo].[BOOKINGS] ([ID])
GO
ALTER TABLE [dbo].[POSTREACTIONS]  WITH CHECK ADD FOREIGN KEY([PostId])
REFERENCES [dbo].[POSTS] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[POSTREACTIONS]  WITH CHECK ADD FOREIGN KEY([ReactionTypeId])
REFERENCES [dbo].[REACTION_TYPES] ([ID])
GO
ALTER TABLE [dbo].[POSTREACTIONS]  WITH CHECK ADD FOREIGN KEY([ReactionTypeId])
REFERENCES [dbo].[REACTION_TYPES] ([ID])
GO
ALTER TABLE [dbo].[POSTREACTIONS]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[ACCOUNTS] ([ID])
GO
ALTER TABLE [dbo].[POSTREACTIONS]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[ACCOUNTS] ([ID])
GO
ALTER TABLE [dbo].[POSTS]  WITH CHECK ADD FOREIGN KEY([AUTHOR_ID])
REFERENCES [dbo].[ACCOUNTS] ([ID])
GO
ALTER TABLE [dbo].[POSTS]  WITH CHECK ADD FOREIGN KEY([AUTHOR_ID])
REFERENCES [dbo].[ACCOUNTS] ([ID])
GO
ALTER TABLE [dbo].[POSTSAVES]  WITH CHECK ADD FOREIGN KEY([AccountId])
REFERENCES [dbo].[ACCOUNTS] ([ID])
GO
ALTER TABLE [dbo].[POSTSAVES]  WITH CHECK ADD FOREIGN KEY([AccountId])
REFERENCES [dbo].[ACCOUNTS] ([ID])
GO
ALTER TABLE [dbo].[POSTSAVES]  WITH CHECK ADD FOREIGN KEY([PostId])
REFERENCES [dbo].[POSTS] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[REACTIONS]  WITH CHECK ADD FOREIGN KEY([USER_ID])
REFERENCES [dbo].[ACCOUNTS] ([ID])
GO
ALTER TABLE [dbo].[REACTIONS]  WITH CHECK ADD FOREIGN KEY([USER_ID])
REFERENCES [dbo].[ACCOUNTS] ([ID])
GO
ALTER TABLE [dbo].[REQUEST_SUPPORTS]  WITH CHECK ADD FOREIGN KEY([COMBO_ID])
REFERENCES [dbo].[SERVICECOMBO] ([ID])
GO
ALTER TABLE [dbo].[REQUEST_SUPPORTS]  WITH CHECK ADD FOREIGN KEY([COMBO_ID])
REFERENCES [dbo].[SERVICECOMBO] ([ID])
GO
ALTER TABLE [dbo].[REQUEST_SUPPORTS]  WITH CHECK ADD FOREIGN KEY([USER_ID])
REFERENCES [dbo].[ACCOUNTS] ([ID])
GO
ALTER TABLE [dbo].[REQUEST_SUPPORTS]  WITH CHECK ADD FOREIGN KEY([USER_ID])
REFERENCES [dbo].[ACCOUNTS] ([ID])
GO
ALTER TABLE [dbo].[REVIEWS]  WITH CHECK ADD FOREIGN KEY([AUTHOR_ID])
REFERENCES [dbo].[ACCOUNTS] ([ID])
GO
ALTER TABLE [dbo].[REVIEWS]  WITH CHECK ADD FOREIGN KEY([AUTHOR_ID])
REFERENCES [dbo].[ACCOUNTS] ([ID])
GO
ALTER TABLE [dbo].[REVIEWS]  WITH CHECK ADD FOREIGN KEY([COMBO_ID])
REFERENCES [dbo].[SERVICECOMBO] ([ID])
GO
ALTER TABLE [dbo].[REVIEWS]  WITH CHECK ADD FOREIGN KEY([COMBO_ID])
REFERENCES [dbo].[SERVICECOMBO] ([ID])
GO
ALTER TABLE [dbo].[SERVICE]  WITH CHECK ADD FOREIGN KEY([HOST_ID])
REFERENCES [dbo].[ACCOUNTS] ([ID])
GO
ALTER TABLE [dbo].[SERVICE]  WITH CHECK ADD FOREIGN KEY([HOST_ID])
REFERENCES [dbo].[ACCOUNTS] ([ID])
GO
ALTER TABLE [dbo].[SERVICECOMBO]  WITH CHECK ADD FOREIGN KEY([HOST_ID])
REFERENCES [dbo].[ACCOUNTS] ([ID])
GO
ALTER TABLE [dbo].[SERVICECOMBO]  WITH CHECK ADD FOREIGN KEY([HOST_ID])
REFERENCES [dbo].[ACCOUNTS] ([ID])
GO
ALTER TABLE [dbo].[SERVICECOMBO_DETAIL]  WITH CHECK ADD FOREIGN KEY([SERVICECOMBO_ID])
REFERENCES [dbo].[SERVICECOMBO] ([ID])
GO
ALTER TABLE [dbo].[SERVICECOMBO_DETAIL]  WITH CHECK ADD FOREIGN KEY([SERVICE_ID])
REFERENCES [dbo].[SERVICE] ([ID])
GO
ALTER TABLE [dbo].[SERVICECOMBO_DETAIL]  WITH CHECK ADD FOREIGN KEY([SERVICECOMBO_ID])
REFERENCES [dbo].[SERVICECOMBO] ([ID])
GO
ALTER TABLE [dbo].[SERVICECOMBO_DETAIL]  WITH CHECK ADD FOREIGN KEY([SERVICE_ID])
REFERENCES [dbo].[SERVICE] ([ID])
GO
ALTER TABLE [dbo].[SUPPORT_RESPONSES]  WITH CHECK ADD FOREIGN KEY([RESPONDER_ID])
REFERENCES [dbo].[ACCOUNTS] ([ID])
GO
ALTER TABLE [dbo].[SUPPORT_RESPONSES]  WITH CHECK ADD FOREIGN KEY([RESPONDER_ID])
REFERENCES [dbo].[ACCOUNTS] ([ID])
GO
ALTER TABLE [dbo].[SUPPORT_RESPONSES]  WITH CHECK ADD FOREIGN KEY([SUPPORT_ID])
REFERENCES [dbo].[REQUEST_SUPPORTS] ([ID])
GO
ALTER TABLE [dbo].[SUPPORT_RESPONSES]  WITH CHECK ADD FOREIGN KEY([SUPPORT_ID])
REFERENCES [dbo].[REQUEST_SUPPORTS] ([ID])
GO
ALTER TABLE [dbo].[SYSTEM_LOGS]  WITH CHECK ADD  CONSTRAINT [FK_SYSTEM_LOGS_ACCOUNTS] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[ACCOUNTS] ([ID])
GO
ALTER TABLE [dbo].[SYSTEM_LOGS] CHECK CONSTRAINT [FK_SYSTEM_LOGS_ACCOUNTS]
GO
USE [master]
GO
